.poem-container {
  min-height: 90vh;
}

.poem-card {
  width: 100%;
  min-width: 350px;
}
.hafez-image: {
  width: 120px;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}
.verse {
  font-size: 1.1rem;
}
.poem {
  margin: 10px;
  padding: 5px;
}
