@font-face {
  font-family: "Dana";
  src: url("../assets/font/DanaFaNum-DemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100%;
  direction: rtl;
}

body {
  font-family: "Dana" !important;
}

.q-page-container {
  padding-left: initial !important;
}

.q-field--labeled.q-field--dense .q-field__native {
  padding-bottom: initial;
  padding-right: 6px !important;
}

.q-field__label {
  font-size: inherit;
  right: 0;
  left: initial;
  padding-right: 4px;
}

.q-item__section--side {
  padding-right: 2px;
  padding-left: 16px;
}

.q-chip--dense .q-chip__icon--remove {
  margin-right: +0.1em;
}

.q-slider__track-container--h {
  width: 100%;
  padding: 8px 0;
  margin-top: 6px;
}

.q-slider__marker-labels--h-standard {
  top: 0;
  font-size: 0.75rem;
}

.q-bar--standard > span {
  font-size: 14px;
}

.q-table--dense .q-table th:first-child,
.q-table--dense .q-table td:first-child {
  padding-right: 16px;
  padding-left: initial;
}

.q-table--dense .q-table th:last-child,
.q-table--dense .q-table td:last-child {
  padding-right: initial;
  padding-left: 16px;
}

.q-table th {
  font-size: 14px;
  user-select: none;
  text-align: center;
}

.q-chip__icon--left {
  margin-right: unset;
  margin-left: 0.2em;
}

.q-table--dense .q-table th,
.q-table--dense .q-table td {
  padding: 4px 2px;
}

.q-notification__icon--additional {
  margin-left: 6px;
  margin-right: unset !important;
}

.q-date {
  direction: rtl;
}

.q-date__range-from::before {
  right: 50%;
  left: 0%;
}

.q-date__range-to::before {
  left: 50%;
  right: 0%;
}

.q-date__edit-range-from::after {
  right: 4px;
  border-right-color: currentColor;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  left: 0px;
  border-left: initial;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.q-date__edit-range-to::after {
  left: 4px;
  border-left-color: currentColor;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  right: 0px;
  border-right: initial;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.rtl__icon-margin {
  padding-top: 2px;
  padding-left: 4px;
}

.q-field__inner {
  text-align: right !important;
}
